@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --page-bg: #0c0c0c;
    --container-bg: #313131;
    --third-color: #3d3d3d;
    --accent-color: #c3b1e1;
    --text-color: #faf4f4;
    --hint-color: #787878;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Inter', sans-serif;
}

html {
    width: 100%;
    height: 100%;
    background-color: var(--page-bg);
    color: var(--text-color);
}

header div {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 1em;
    border-radius: 15px;
}

h1 {
    color: var(--accent-color);
}

a {
    color: var(--accent-color);
}

.container {
    background-color: var(--container-bg);
    padding: 1em;
}

.icon {
    width: 3em;
    height: 3em;
    margin-right: 1em;
}

.content {
    margin: 5% 40em 5% 40em;
}

.content div {
    border-radius: 30px;
}

.content form {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
}

.form-value {
    margin-bottom: 1em;
}

.form-value input {
    background-color: var(--third-color);
    color: var(--text-color);
    padding: 0.5em;
    border-radius: 15px;
    box-sizing: border-box;
}

.form-value label {
    display: block;
    margin-bottom: 0.5em;
}

.container h2 {
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space {
    margin: 2em;
}

.space-big {
    margin: 5em;
}

.accent {
    color: var(--accent-color);
}

.invisible {
    display: none;
}